$color_white: white;
$color_black: black;
$color_navbar_top: #3a3a3a;
$color_navbar_bottom: #00000000;
$color_navbar_button: #0099A8;
$color_card_coupons: #afe2e3b9;
$color_card_certified: #afe2e34f;
$color_red: red;
$color_main: #086E88;
$color_form: #828699;
$color_line: #D8D8D8;