$color_white: white;
$color_black: black;
$color_navbar_top: #3a3a3a;
$color_navbar_bottom: #00000000;
$color_navbar_button: #0099A8;
$color_card_coupons: #AFE2E3;
$color_card_certified: #EBEBEB;
$color_red: red;
$color_main: #086E88;